*.csv filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
FaceDetection/models/** filter=lfs diff=lfs merge=lfs -text
map_disc.jpg filter=lfs diff=lfs merge=lfs -text
original.jpg filter=lfs diff=lfs merge=lfs -text
spatiotemporalmap.jpg filter=lfs diff=lfs merge=lfs -text
test.jpg filter=lfs diff=lfs merge=lfs -text
big.jpg filter=lfs diff=lfs merge=lfs -text
big_test.jpg filter=lfs diff=lfs merge=lfs -text
map.jpg filter=lfs diff=lfs merge=lfs -text
map_big.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/example.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/example.jpg_aligned.jpg filter=lfs diff=lfs merge=lfs -text
*/**.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_23_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210220_16_19_47_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/MTCNN_alignment_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/SSD_alignment_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190720_160105.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201013_10_44_09_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_02_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_time_detected_126.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210413_13_39_56_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_1_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_1_4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_21_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210220_16_20_49_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_0_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_2_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_piechart_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190723_054404.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_05_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210103_17_53_14_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_time_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_time_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/SSD_alignment_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_2_3.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_2_4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_piechart_detected_126.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/SSD_alignment_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190718_073317.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210220_16_19_49_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_1_3.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_49_59_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_03_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_03_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210409_11_14_48_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_3_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_miniset/me_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190720_154957.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG-20190726-WA0009.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_confidence_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_1_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_2_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_confidence_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_time_detected_1797.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/final_comparison.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_02_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210409_11_05_35_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_0_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_piechart_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/HOG_alignment_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/MTCNN_alignment_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210413_13_40_08_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_0_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_3_3.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_0_4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_time_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_confidence_detected_126.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_confidence_detected_1797.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/HOG_alignment_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190807_143601.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/YES4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_0_3.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_01_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_2_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_3_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_4_3.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_4_4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190726_182750.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190730_211458.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_00_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190720_141002.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_3_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_time_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_1_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_confidence_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/aligned.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_00_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_23_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210304_00_44_57_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210308_18_36_45_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/HOG_confidence_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/cropped.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190720_192037.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190724_161252.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_piechart_detected_125.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/visual_performance/HOG_alignment_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201013_10_44_20_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_24_Pro[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_4_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210220_16_19_52_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_4_2.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_miniset/me_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190723_001332.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_24_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_21_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_miniset/me_0.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190722_175136.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20201118_16_50_04_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/WIN_20210113_12_42_22_Pro.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_3_4.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/blocks/block_4_1.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/MTCNN_piechart_detected_1795.jpg filter=lfs diff=lfs merge=lfs -text
data/data_out/numeric_performance/SSD_piechart_detected_1797.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190719_150829.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190720_160104.jpg filter=lfs diff=lfs merge=lfs -text
data/data_in/sample_set/IMG_20190801_095046.jpg filter=lfs diff=lfs merge=lfs -text

