biosppy==0.7.2
dlib==19.21.1
h5py==3.1.0
heartpy==1.2.7
matplotlib==3.3.4
mtcnn==0.1.0
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.3
scipy==1.6.1
tensorflow==2.5.0
tqdm==4.59.0

torch~=1.9.0
torchvision~=0.10.0